.container {
   display: grid;
   grid-template-columns: 1fr 5fr;
   height: 100vh;
}

aside {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 1.5rem;
}

aside nav {
   color: #838383;
}

aside nav ul {
   margin-left: 0;
}

aside nav ul li {
   list-style: none;
   font-weight: 500;
}

a {
   letter-spacing: 1.2px;
   border-width: 0px 0px 2px;
   border-style: solid;
   border-color: transparent;
   text-decoration: none;
   color: inherit;
   transition: border-color 0.3s ease 0s, color 0.3s ease 0s;
}

aside nav ul li:hover a {
   color: rgb(52, 52, 52);
   border-color: rgb(52, 52, 52);
}

main {
   background-color: #D3D3D3;
   padding: 1rem;
}