.container {
  display: grid;
  grid-template-columns: 1fr 4.5fr;
  height: 100vh;
}

.navigation {
  display: flex;
  flex-direction: column;
  padding: 1.75rem;
  max-height: 100vh;

  p {
    font-weight: 400;
    color: #696969;
    font-size: 15px;

    &:first-of-type {
      display: flex;
      flex-direction: column;
    }

    &:last-of-type {
      margin-top: auto;
    }
  }

  nav {
    color: #838383;
    margin: auto 0;

    ul {
      margin-left: 0;
    }

    li {
      list-style: none;
      font-weight: 500;

      &:hover a,
      &.active a {
        color: rgb(52, 52, 52);
        border-color: rgb(52, 52, 52);
      }
    }

    a {
      letter-spacing: 1.2px;
      text-decoration: none;
      color: inherit;
      border-width: 0px 0px 2px;
      border-style: solid;
      border-color: transparent;
      transition: border-color 0.3s ease 0s, color 0.3s ease 0s;

      &[class*="active"] {
        color: rgb(52, 52, 52);
        border-color: rgb(52, 52, 52);
      }
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  background-color: #d3d3d3;
  padding: 20vh 5rem 20vh;
  overflow-y: scroll;
}
